 <?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
<key>x_jfsc_sp_zt_qd</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_zt_qd</string>
<key>name</key>
<string>积分商城_商品详情_自提_确定</string>
</dict><key>x_zc_pc_yqhy</key>
<dict><key>eventId</key>
<string>x_zc_pc_yqhy</string>
<key>name</key>
<string>自查_健康评测_邀请好友</string>
</dict><key>x_zxxq_ckqbpl</key>
<dict><key>eventId</key>
<string>x_zxxq_ckqbpl</string>
<key>name</key>
<string>资讯详情_查看全部评论</string>
</dict><key>x_jfsc_sp_sj_qx</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_qx</string>
<key>name</key>
<string>积分商城_商品详情_手机充值_取消</string>
</dict><key>x_jfsc_sp_zt_ckdhsp</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_zt_ckdhsp</string>
<key>name</key>
<string>积分商城_商品详情_自提_兑换成功_查看兑换商品</string>
</dict><key>x_wd_jfsc_lb</key>
<dict><key>eventId</key>
<string>x_wd_jfsc_lb</string>
<key>name</key>
<string>积分商城_商品列表</string>
</dict><key>x_wd_jfsc_banner</key>
<dict><key>eventId</key>
<string>x_wd_jfsc_banner</string>
<key>name</key>
<string>积分商城_Banner</string>
</dict><key>x_jfsc_sp_qt_qx</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qt_qx</string>
<key>name</key>
<string>积分商城_商品详情_其他_取消</string>
</dict><key>x_zc_pc_lb</key>
<dict><key>eventId</key>
<string>x_zc_pc_lb</string>
<key>name</key>
<string>自查_健康评测_列表点击</string>
</dict><key>x_jfsc_sp_zt_qx</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_zt_qx</string>
<key>name</key>
<string>积分商城_商品详情_自提_取消</string>
</dict><key>x_jfsc_sp_sj_qd</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_qd</string>
<key>name</key>
<string>积分商城_商品详情_手机充值_确定</string>
</dict><key>x_wd_jfsc_dhjl</key>
<dict><key>eventId</key>
<string>x_wd_jfsc_dhjl</string>
<key>name</key>
<string>积分商城_兑换记录</string>
</dict><key>x_zc_pc_ks</key>
<dict><key>eventId</key>
<string>x_zc_pc_ks</string>
<key>name</key>
<string>自查_健康评测_开始</string>
</dict><key>x_jfsc_sp_qq_qd</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qq_qd</string>
<key>name</key>
<string>积分商城_商品详情_qq_确定</string>
</dict><key>x_jfsc_sp_yd_ckdhsp</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_yd_ckdhsp</string>
<key>name</key>
<string>积分商城_商品详情_邮递_兑换订单_提交订单_兑换成功_查看兑换商品</string>
</dict><key>x_zxxq_sc</key>
<dict><key>eventId</key>
<string>x_zxxq_sc</string>
<key>name</key>
<string>资讯详情_收藏</string>
</dict><key>x_jfsc_sp_qq_ckdhsp</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qq_ckdhsp</string>
<key>name</key>
<string>积分商城_商品详情_qq_兑换成功_查看兑换商品</string>
</dict><key>x_jfsc_sp_sj_ly</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_ly</string>
<key>name</key>
<string>积分商城_商品详情_邮递_兑换订单_留言</string>
</dict><key>x_jfsc_sp_sj_ckdhsp</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_ckdhsp</string>
<key>name</key>
<string>积分商城_商品详情_手机充值_兑换成功_查看兑换商品</string>
</dict><key>s_jfsc_jfph</key>
<dict><key>eventId</key>
<string>s_jfsc_jfph</string>
<key>name</key>
<string>积分商城首页_积分排行</string>
</dict><key>x_zxxq_tjzh</key>
<dict><key>eventId</key>
<string>x_zxxq_tjzh</string>
<key>name</key>
<string>资讯详情_调节字号</string>
</dict><key>x_jfsc_sp_qt_ljdh</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qt_ljdh</string>
<key>name</key>
<string>积分商城_商品详情_其他_立即兑换</string>
</dict><key>x_jfsc_sp_sj_tjdd</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_tjdd</string>
<key>name</key>
<string>积分商城_商品详情_邮递_兑换订单_提交订单</string>
</dict><key>s_px_wj_xx</key>
<dict><key>eventId</key>
<string>s_px_wj_xx</string>
<key>name</key>
<string>培训_问卷_点击这里学习</string>
</dict><key>x_jfsc_sp_qq_ljdh</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qq_ljdh</string>
<key>name</key>
<string>积分商城_商品详情_qq_立即兑换</string>
</dict><key>x_jfsc_sp_zt_ljdh</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_zt_ljdh</string>
<key>name</key>
<string>积分商城_商品详情_自提_立即兑换</string>
</dict><key>x_zc_pc_fx</key>
<dict><key>eventId</key>
<string>x_zc_pc_fx</string>
<key>name</key>
<string>自查_健康评测_分享</string>
</dict><key>x_jfsc_sp_qq_qx</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qq_qx</string>
<key>name</key>
<string>积分商城_商品详情_qq_取消</string>
</dict><key>x_jfsc_sp_sj_ljdh</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_sj_ljdh</string>
<key>name</key>
<string>积分商城_商品详情_手机充值_立即兑换</string>
</dict><key>x_jfsc_sp_qt_ckdhsp</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qt_ckdhsp</string>
<key>name</key>
<string>积分商城_商品详情_其他_兑换成功_查看兑换商品</string>
</dict><key>x_wd_jfsc_jf</key>
<dict><key>eventId</key>
<string>x_wd_jfsc_jf</string>
<key>name</key>
<string>积分商城_我的积分</string>
</dict><key>x_jfsc_sp_qt_qd</key>
<dict><key>eventId</key>
<string>x_jfsc_sp_qt_qd</string>
<key>name</key>
<string>积分商城_商品详情_其他_确定</string>
</dict></dict>
</plist>